<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_products_list), session[:return_to] || admin_products_url, icon: 'arrow-left' %></li>
  <% if can?(:create, Spree::Product) %>
    <li>
      <%= button_link_to Spree.t(:new_product), new_object_url, { icon: 'plus', id: 'admin_new_product' } %>
    </li>
  <% end %>
<% end %>

<%= render 'spree/admin/shared/product_tabs', current: 'Product Details' %>
<%= render 'spree/shared/error_messages', target: @product %>

<%= form_for [:admin, @product], method: :put, html: { multipart: true } do |f| %>
  <fieldset class="no-border-top">
    <%= render 'form', f: f %>
    <% if can?(:update, @product) %>
      <%= render 'spree/admin/shared/edit_resource_links' %>
    <% end %>
  </fieldset>
<% end %>
